<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전송 결과</title>
</head>
<body>
    <h3><%= title %></h3>
    <ul>
        <li>이름: <%= userInfo.username %></li>
        <li>성별: <%= userInfo.gender %></li>
        <li>생일: <%= userInfo.birthYear %>-<%= userInfo.birthMonth %>-<%= userInfo.birthDay %></li>
        <li>취미: <%= userInfo.hobby %></li>
        <% if(userInfo.color.result) { %>
            <li>색상: <%= userInfo.color.color %></li>
        <% } %>
        <% if(userInfo.number.result) { %>
            <li>숫자: <%= userInfo.number.number %></li>
        <% } %>
    </ul>
    <a href="/">메인으로 이동</a>
</body>
</html>