<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/getForm" method="GET">
        <h3>GET방식 </h3>
        이름<input type="text" name="id"/><br />
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자"/>남자
            <input type="radio" name="gender" value="여자"/>여자<br />
        </fieldset>
        <fieldset>
            <legend>생년월일</legend>
            <select name="year">
                <% for(let i = 1920; i <= 2024; i++) { %>
                    <option value="<%= i %>"><%= i %></oprion>
                <% } %>
            </select>년 
            <select name="month">
                <% for(let i = 1; i <= 12; i++) { %>
                    <option value="<%= i %>"><%= i %></oprion>
                <% } %>
            </select>월
            <select name="day">
                <% for(let i = 1; i <= 31; i++) { %>
                    <option value="<%= i %>"><%= i %></oprion>
                <% } %>
            </select>일
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest" value="여행"/>여행
            <input type="checkbox" name="interest" value="패션"/>패션
            <input type="checkbox" name="interest" value="음식"/>음식
        </fieldset>

        <input type="submit" value="회원가입" />
    </form>
    <br /><hr /><br />


    <form action="/postForm" method="POST">
        <h3>POST방식</h3>
        이름<input type="text" name="id" required/><br />
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" required/>남자
            <input type="radio" name="gender" value="여자" required/>여자<br />
        </fieldset>
        <fieldset>
            <legend>생년월일</legend>
            <select name="year">
                <% for(let i = 1920; i <= 2024; i++) { %>
                    <option value="<%= i %>"><%= i %></oprion>
                <% } %>
            </select>년 
            <select name="month">
                <% for(let i = 1; i <= 12; i++) { %>
                    <option value="<%= i %>"><%= i %></oprion>
                <% } %>
            </select>월
            <select name="day">
                <% for(let i = 1; i <= 31; i++) { %>
                    <option value="<%= i %>"><%= i %></oprion>
                <% } %>
            </select>일
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest" value="여행"/>여행
            <input type="checkbox" name="interest" value="패션"/>패션
            <input type="checkbox" name="interest" value="음식"/>음식
        </fieldset>
        <fieldset>
            <legend>선택</legend>
            좋아하는 색상<input type="color" name="color"/><br />
            좋아하는 숫자<input type="number" name="number">
        </fieldset>
        <input type="submit" value="회원가입" />
    </form>

</body>
</html>